* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	color: black;
	font-size: 14px;
	font-family: arial, helvetica, san-serif;
}

.header {
	width: 100%;
	height: 8em;
	background-color: lightgray;
	background-image: linear-gradient(to right, #ecf2f9, #d8e5f3);
}

.head-title {
	font-family: serif;
	padding-top: 1%;
	font-size: 0.7em
}

.head-right-title {
	float: right;
	padding-right: 6%;
}

.english {
	float: left;
	margin-left: 6%;
}

.fa {
	margin-left: 1em;
	font-size: 1.1em;
}

.far {
	margin-right: 1em;
}

.bag {
	float: right;
	margin-left: 2.1em;
}

.sign {
	float: right;
}

.header-contain {
	float: left;
	margin-top: 3em;
	margin-left: 12em;
	color: black;
}

ul#menu li {
	display: inline;
	margin-left: 2em;
	margin-top: 1em;
}

.nav {
	float: left;
	margin: 1em;
	font-size: 1em;
	margin-left: 2em;
	height: 3em;
	margin-top: 1em;
}

.menu-font {
	float: left;
	font-size: 3em;
	letter-spacing: .3em;
}

.menu-search {
	background-color: white;
	margin: 0px;
}

.search-bar-input {
	font-size: 1.5em;
	margin-left: 14.7em;
	padding-right: 18.4em;
	margin-top: 1em;
	padding-bottom: 1em;
}

img {
	width: 100%;
	margin-top: -1.1em;
}

.image-below {
	background: url(source/security-badge.png);
	width: 100%;
	height: 5em;
	background-color: white;
}

.pic-below-section {
	height: 5em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.logo-one {
	float: left;
	margin-left: 25em;
}

.leaf-logo {
	width: 2em;
	height: 2em;
	margin-left: 2em;
	margin-top: .1em;
}

p {
	text-align: -webkit-center;
}

.logo-two {
	float: left;
	margin-left: 12em;
}

.safty-logo {
	width: 2em;
	height: 2em;
	margin-left: 2em;
	margin-top: .1em;
}

.logo-three {
	float: left;
	margin-left: 12em;
}

.logo-three {
	float: left;
	float: 12em;
}

.leather-logo {
	width: 2em;
	height: 2em;
	margin-left: 4em;
	margin-top: .1em;
}

.contain-footer {
	margin-top: 1.5em;
	width: 100%;
}

.contain-footer-left {
	float: left;
	position: relative;
}

.test {
	position: relative;
	z-index: 2;
}

.contain-footer-right {
	float: left;
	margin-left: -1em;
}

.shoes-pic {
	position: relative;
	width: 49em;
	height: 19.5em;
	z-index: 1;
}

.text-on-shoes {
	color: white;
	position: absolute;
	left: 25%;
	margin-top: 5em;
	font-size: 1.5em;
}

.wall-bag {
	position: relative;
	z-index: 0;
	width: 43.7em;
	height: 24em;
}

.test-two {
	position: relative;
	z-index: 2;
}

.text-on-wall {
	color: white;
	position: absolute;
	left: 9em;
	margin-top: 4.3em;
	font-size: 1.5em;
}

.below-shoes-wall {
	height: 65em;
}

.black-girl {
	float: left;
}

.sitting-girl {
	width: 49em;
	margin-top: -5em;
}

.black-girl-right {
	float: left;
	margin-left: 5.5em;
}

.text-three {
	font-size: 3em;
	margin-top: -15px;
	margin-left: 0;
}

.text-four {
	font-size: 2em;
	color: #333;
}

.text-five {
	font-size: 1em;
	color: #333;
	margin-top: 1em;
}

.material-price {
	margin-top: 2.5em;
}

.bag-girl {
	float: left;
}

.bag-girl-stand {
	width: 17em;
}

.jacket-girl {
	float: left;
	margin-left: .8em;
}

.jacket-girl-stand {
	width: 17em;
	height: 23.4em;
}

.price-tag {
	margin-top: 1em;
}

.circle {
	text-align: center;
}

.dot-black {
	height: 1em;
	width: 1em;
	background-color: black;
	border-radius: 50%;
	margin-top: 1em;
	display: inline-block;
}

.dot-grey {
	height: 1em;
	width: 1em;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.white-shoes-left {
	float: left;
	margin-left: 7em;
}

.text-six {
	font-size: 3em;
	margin-top: 1em;
}

.text-six {
	font-size: 2em;
	color: #333;
}

#black-coat {
	height: 23.2em;
	width: 18em;
}

.man-tag-right {
	float: left;
	margin-left: 2em;
	margin-top: 4px;
}

.black-man {
	width: 42.7em;
	margin-left: 6.2em;
	height: 45em;
}

.sitting-girl-below {
	height: 44em;
}

.man-section {
	margin-left: 4em;
}

#tag-upper {
	color: black;
	font-size: 2em;
}

.man-section-price {
	margin-top: 2.5em;
	height: 27em;
}

#black-coat {
	width: 16em;
}

#white-coat {
	width: 16em;
	margin-right: .8em;
}

.black-section {
	height: 8em;
	background-color: black;
	margin-top: 3em;
	color: white;
	text-align: center;
}

.input-query {
	padding-top: 3em;
	padding-left: 22em;
}

.text {
	float: left;
	font-size: 1.5em;
	margin-right: 2em;
}

.search-text {
	float: left;
	color: gray;
	border-bottom: 2px solid gray;
	line-height: 2em;
	padding-right: 6em;
}

.button {
	float: left;
	margin-left: 3em;
}

.woman {
	padding: .5em;
	margin-right: 1em;
}

.man {
	padding: .5em 1.2em .5em 1.2em;
}

.header-info {
	margin-top: 3em;
}

.services {
	margin-left: 15em;
	width: 17em;
	float: left;
}

.customer {
	padding-bottom: 1.5em;
	font-size: 1.2em;
}

ul.list-services {
	text-align: -webkit-center;
	list-style-type: none;
	color: #333;
	margin-left: -5em;
}

ul.list-services li {
	padding-bottom: .5em;
	color: gray;
}

#list-profile {
	margin-left: 5em;
}

#profile {
	margin-left: 3.5em;
}

.header-info {
	height: 17em;
}

.contact-via-logo {
	float: left;
	font-size: 1.2em;
	margin-left: 12em;
}

.company-logo {
	display: inline-block;
	margin-top: 1em;
	margin-left: -2em;
	font-size: 1.3em;
}

.footer {
	font-size: .8em;
	margin-left: 8em;
	height: 8em;
}

.left-footer {
	float: left;
	margin-top: .5em;
}

.globe {
	margin-right: .5em;
	width: 1.5em;
}

.center-footer {
	float: left;
	margin-left: 14em;
	padding-top: 1em;
}

.title-one {
	float: left;
	margin-right: 3em;
}

.title-two {
	float: left;
	margin-right: 3em;
}

.title-three {
	float: left;
	margin-right: 3em;
}

.right-footer {
	float: left;
	padding-top: 1em;
	margin-left: 15em;
}

#globe {
	width: 1em;
}

.serch-bar {
	float: right;
	margin-left: 2em;
	margin-top: 1em;
	height: 3em;
	width: 3em;
}

.serch-bar:hover {
	background-color: white;
}

.serch-bar-hover {
	display: none;
	margin-top: 3.9em;
}

.serch-bar:hover~div.serch-bar-hover {
	display: block;
	position: absolute;
	z-index: 5;
	height: 0;
	width: 100%;
	left: 0;
}

.serch-bar-hover-position {
	background: white;
	height: 6em;
}

.btn-one {
	padding: 7px 7px 23px;
	margin-left: -5px;
	background-color: white;
}